*{
  font-family:'San Francisco'
}


/*Chrome, Safari, Edge, Opera  tried to hide the up and down number field in settings with that*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

.posRel {
  position: relative;
}

.flexColumnAlignCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexAlignCenter {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexColumnSpaceAround {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flexCenterAlignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
}

.flexAround {
  display: flex;
  justify-content: space-around;
}

.flexAlignCenter {
  display: flex;
  align-items: center;
}

.editBtnClickedStyling {
  top: -18px;
  position: relative;
  margin-left: 20px;
}



.flexBetweenCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuContainerOuter {
  z-index: 100;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 440px;
}



.flexAroundCenter{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexSpaceAround {
  display: flex;
  justify-content: space-around;
}

.flexCenter {
  display: flex;
  justify-content: center;
}




#createYourFirstDeckPrompt {
  top: 233px;
  position: absolute;
  font-weight: bold;
  font-size: 16px;
 
}

button:focus,
input:focus,
textarea:focus,
textarea:active,
textarea {
  outline: none !important;
}

input[type="checkbox"] {
  cursor: pointer;
}

.newDeckContainer {
  height: 206px;
  width: 310px;
  padding: 10px 0px 0px 0px;
  margin: 10px 0 0 20px;
  background-color: #dcc9b6;
  position: absolute;
  transform-origin: 0px 215px;
}

.arrowDown {
  margin-top: 180px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 60px;
  /* display: none; */
}

.arrowDown::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  margin: 0 auto;
  top:150px; 
  /* top: -150px; */
  border-right: 4px solid black;
  border-bottom: 4px solid black;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: 3s arrow infinite ease;
  animation: 3s arrow infinite ease;
  padding: 1px;
}

#arrow {
  display: flex; 
  justify-content: center; 
  width: 100%;
}

.nav-link, .nav-link:visited, .nav-link:active, .nav-link:hover {
  padding: .5rem 0.4rem !important;
  color: black;
}

.divStyling { /*shown on the main page to study, to review etc*/
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  background-color: white;
  width: 125px;
  padding: 4px;
  padding-left: 10px;
  height: 26px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.addNewCardsButton {
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: grey;
  position: absolute;
  left: -20px;
  top: 173px;
  z-index: 100 !important;
  border: none !important;
  
}


.timeAndProgStyling {
  padding-left: 3px;
  height:21px;
  font-size: 14px;
}

.timesStyling {
  padding-left: 3px;
  height: 21px;
  font-size:14px;
}

.dateDiagramPos {
  width: 90px;
   height: 50px;
   position: absolute;
   top:125px;
   left:131px;
   text-align:center;
}

.pointer {
  cursor: pointer;
}


.menuIcon {
  font-weight: bold;
  border: 2px black solid;
  width: 54%;
  margin-bottom: 3px;
  border-radius: 12px;
  position: absolute;
  transition: 1s all;
  background-color: black;
}

.menuContainer {
  width: 100%;
  margin-top: 1px;
  position: relative;
  height: 20px;
}



.menu {
  width: fit-content;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 10px;
}

.transPlus {
  transform: rotate(135deg);  
}

.rotateLittleModal {
  transform: rotate(90deg) !important;
  font-weight: bold !important;
  font-size: 23px !important;
  cursor:pointer;
  margin-right: 28px;
}

.modNew {
  background-color: transparent !important; 
  border: none !important;
  margin: 0 auto;
  padding: 0px !important;
  width:99% !important;
}

.addCardsToDeck {
    font-size: 13px;
    position: absolute;
    top: 110px;
}

.SaveBtn {
  background-color: #d4edda;
  color:#155724
}

.DiscardBtn {
  background-color: #f8d7da;
  color: #721c24
}
.SaveBtn:hover {
  background-color: #155724;
  color: white;
}

.DiscardBtn:hover {
  background-color: #721c24;
  color: white;
}


.spanPlusStyling{
  margin-left:10px;
  cursor: pointer;
} 

.customDialog {
  left:100px;
}

.inputStyling {
  width: 43px; 
  height: 33px;
  border: none;
  outline: none;
  text-align: center;
}

.myDiv{
  background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAe0lEQVQoU03PURECMQxF0RMbrIzFBjbQUR3YwAYrA2xkJ2l3hn61fZl7XwI7jkAyghd+5jtjBXvwwKgAN3zReZ0K3sGx3omtSDVQ2FE/MXWf7OskFaJw7Sxtcr9I3Wl1aGcQf6TudKEy2HKRSlmderuY2B4sXfK8tqlOJ205I9rLApoiAAAAAElFTkSuQmCC
  ) repeat;
}


 
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
-webkit-appearance: auto !important;
opacity: 1 ;
/*!important;*/
cursor: pointer;
}

.nonDraggableIcon {
 
/* user-drag: none;   */
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;

-webkit-user-drag: none;
}





 
.transMinus {
  transform: rotate(-135deg); 
} 

.menuStyling {
  display: flex;
  cursor: pointer; 
  background-color: #dcc9b6;
  border: 3px black solid;
  border-radius: 5px;
  margin: auto;
  margin-top: 1px;
  width: 321px;
}

.inputGro {
  display: flex; 
  flex-direction: column; 
  height: 150px; 
  width: 400px;
}

.background {
  position:absolute;  
  display:block;    
  top: 0;
  left: 0;
  z-index: 0;
  }


  .bla {
    width: '440px';
    height: '720px';
  }

  

  .btnGoogle {
   
    width: 136px !important;
    height: 30px;
    border-radius: 4px;
  }

  .btnGoogle div {
    padding: 4px !important;
  }

  .btnFacebook { 
    width: 136px;
    height: 30px;
    font-size: 13px;
    border-radius: 4px;
    background: #3b5998; 
    color: white;
    border: 0px transparent;
    text-align: center;
    margin: 5px;
    margin-left:21px;
    display: inline-block;
  }




.form {
  width: 70% !important;
  height: 300px;
  resize: none;
}


.showAnswer {
width: 30%; 
background-color: grey; 
outline: none;
width: 32%; 
height: 32px; 
padding: 0 !important; 
position: relative; 
left: 22px;
top:-24px;
}

.openDeck {
  margin-top: -20px !important; 
  outline: none !important;
  width: 110px;
  color: white !important;
  border-radius: 5px !important;
  outline: none !important;
  border: none !important;
}

.openDeck:hover {
  background-color: #545863 !important;
}


.openDeck:focus{
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.cardBod {
  border: 2px solid grey !important;
}

.buttonGr {
  display: flex !important;
  justify-content: space-around !important;
}


.mod { /*specifies the width etc. of basic orange window*/
  background-color: rgba(200, 168, 115) !important;
  border-radius: 20px !important;
  height: 544px; 
  width: 374px !important;
  margin-top: 90px !important;
  margin: auto;
  border: 2px solid black !important;
  top: 25px;
}

.innerModalContainer {
  width: 98%;
  height: 95%;
  margin: auto;
  overflow: hidden auto;
}



.showRepeatBtnInner {
  border: 1px solid grey;
  padding: 12px;
  border-radius: 5px;
  width: 88%;
}

.weeklyTarget {
  width: 190px;
  margin-top: 5px;
  height: 20px;
  font-size: 14px; 
  font-weight: normal;
  margin: auto;
  position: relative;
  top: 1px;
  display: flex; 
  justify-content: center;
}

.questionAnswerStyling {
  font-weight: bold; 
  margin-left: 19px; 
  margin-bottom: 10px;
}

.redCross {
  background-color: transparent !important; 
  /* background-color transparent needed when using a window with opacity */
  border-radius: 8px;
  color: red !important;
  font-size: 23px !important;
  font-weight: bold !important;
  background-color: rgba(200, 168, 115, 0.95);
  border: none !important;
  outline: none !important;
  display:flex;
  align-items: center;
  justify-content: center;
  padding:5px
}

.redCross:active {
  background: #b07d62;
  border-radius: 50%;

}

.buttonStyling {
  background-color: white !important;
  border: none; 
  color: black !important;
  
}

.buttonStyling:hover {
  background-color: #a39171 !important;
}

.deleteContainerNoAndYes:hover {
  background-color: grey;
  color: white;
  cursor: pointer
}

.blinkingIcon {
  animation: blinker 1.3s linear infinite;
  animation-iteration-count: 2;
}

.saveAndDiscardContainer {
  width: 166px;
  padding: 4px;
  height: 71px;
  top: 345px;
  position: absolute;
  border: 1px grey solid;
  border-radius: 5px;

}

.form-control {
  resize:none;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.urlBackground {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAe0lEQVQoU03PURECMQxF0RMbrIzFBjbQUR3YwAYrA2xkJ2l3hn61fZl7XwI7jkAyghd+5jtjBXvwwKgAN3zReZ0K3sGx3omtSDVQ2FE/MXWf7OskFaJw7Sxtcr9I3Wl1aGcQf6TudKEy2HKRSlmderuY2B4sXfK8tqlOJ205I9rLApoiAAAAAElFTkSuQmCC) repeat;
}

.backgroundColor {
  background-color: blue !important;
}

.saveAndDiscardButtonStyling {
  width: 65px;
  height: 27px;
  /* color: white !important; */
  cursor: pointer !important;
  border-radius: 5px !important;
  outline: none !important;
  border: none !important;
  font-size: 14px;
}

.generalButtonStyling {
 width: 63px;
  height: 24px; 
  background-color: grey;
  color: white !important;
  cursor: pointer !important;
  border-radius: 5px !important;
  outline: none !important;
  border: none !important;
} 


.okCancelButton {
  width: 63px;
  height: 26px; 
  color: white !important;
  cursor: pointer !important;
  border-radius: 5px !important;
  outline: none !important;
  border: none !important;
}

.okCancelButtonColor {
  background-color: grey /*important;*/;
  cursor: pointer !important;
}

.tooShortOrLong {
  position: absolute;
  left: 172px;
  top: 14px;
  width: 85px;
  font-size: 13px;
}

.deleteContainerFr {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6) !important;
  position: absolute;
  top: 0;
  border-radius: 18px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 3;
  top: -82px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.deleteContainerInner {
  position: absolute;
  top: 188px;
  height: 206px;
  width: 252px;
  height: 160px;
  background-color: white;
  border-radius: 10px;
}

.deleteYesAndNoContainer {
  width: 245px;
  z-index: 2; 
  height: 50px; 
  position: absolute; 
  top: 115px;
}

.deleteContainerNoAndYes {
  border: 2px solid grey; 
  color: grey;
  width: 60px;
  height: 35px;
  border-radius: 12px;
}


.outline-none:focus{
  outline:none !important;
}

.createNewDeck {
  height: 160px;
  width: 280px;
  background-color: rgba(200, 168, 115,0.95);
  top: 166px;
  position: absolute;
  border-radius: 5px
}

.changeRepetitionContainer {
width: 290px;
height: 75px;
border: 1px black solid;
margin-top: 15px;
border-radius: 5px;
position: relative;
margin-top: 10px
}

.contUpperLower {
  position: relative;
  width: 100%;
  height: 50%;
}

.changeRepetitionIntervalContainerInner {
 width: 260px;
height: 68px;
margin-top: 3px;
border-radius: 5px;
}

/* width */
 ::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
 
} 

/* Track */
::-webkit-scrollbar-track {
  /*background: #f1f1f1;*/
  background: rgba(184, 156, 110, 0.95);
  border-radius: 5px;
  cursor: pointer;
 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  cursor: pointer;
 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
 
}

.themeRadiosContainer {
  border: 1px solid black;
  width: 215px;
  border-radius: 5px;
  margin-top: 10px; 
  padding: 2px;
}

.pos {
  position: absolute;
  height: 800px;
  top: 0px;
  left: 0px;
}


.blackArrow {
  width: 2px;
  height: 5px; 
  background-color: black;
  font-size: 16px;
  font-weight: bold;
  position: absolute; 
  top: -2px;
  left: 26px;
}

.number {
  width: 100px;
  position: absolute; 
  top: 5px;
  left: -16px;
  font-weight: normal; 
  font-size: 14px;
}

.calendarButtons {
  width: 20px !important;
  height: 20px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}


.selected svg{
  fill: green;
}

.theWordCalendar {
  margin-top: 10px;
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px; 
  text-align: center;
}

.yearBoxContainer {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 210px;
}

.diagramHourlyBreakdownContainer {
  width: 280px; 
  border: 1px solid black; 
  height: 190px; 
  position: relative ;
  margin: auto;
  padding: 4px;
  padding-top: 10px;
  border-radius: 3px;
}

.tooLongOrShort{
position: absolute;
z-index: 10;
width: 100px;
left: 235px;
top: 22px;
}

.progressBar {
  background-color: black; 
  padding: 3px; 
  height: 16px; 
  width: 146px; 
  margin-left: 46px; 
  border-radius: 3px;
  margin-top: 5px;
}

.time { /*used in stats for the border of the individual times*/
  margin-left: 11px;
  border: 1px solid black;
  width: 56px;
  padding: 1px;
  border-radius: 2px;
}

.yearBoxContainer {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 210px;
}

.day {
  width: 10px;
  height: 10px;
  border: 1px black solid;
  box-sizing: border-box;
  margin: 1px;
  position: relative;
}
.day > div {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 120px;
  background-color: white;
  border-radius: 5px;
  z-index: 2;
  padding: 5px;
}

#deleteWindow .modal-header {

  background-color: rgba(200, 168, 115) !important; 
  width: 300px !important; 
  height: 45px;
  font-weight: bold; 
  display: flex;
  align-items: center;
  color: white;
}

#deleteWindow .modal-footer {
  height: 55px !important;
}

.unpauseAndKeepPausedButton {
  cursor: pointer;
  width: 113px;
  padding: 7px;
}
.pointer {
  cursor:pointer !important;
}

.showAnswerButton {
  background-color: grey;
  color: white;
  width: 105px;
  height: 35px;
  margin-left: 7px;
  border-radius: 5px;
  padding: 7px;
  display: flex;
  justify-content: center;
}

.modal {
  padding: 0px !important;
  /* width: 600px !important; */
}



.modal-open .modal{
  overflow-y: hidden !important;
}

#deleteWindow { /*background color of reset progress in stats*/
  background-color: rgba(0, 0, 0, 0.7);
}

#deleteWindow, #createDeck .modal-footer,
#createDeck .modal-header {
    border-top: 0px;
    border-bottom: 0px;
}


.close {
  outline: none !important;
}

.modal-footer {
  height: 45px !important;
}

.modal-body {
  height: 75px !important;
}



.yearBoxContainer {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 210px;
}

.deleteWindow #modal {
  background-color: rgba(0, 0, 0, 0.7);
  /* overflow-y: none !important; */
}

.modal-title {
  height: 50px;
}

#createDeck .modal-header {
height: 33px;
}

.playButton {
  border: 1px solid black;
  height: 26px;
  width: 29px;
  display: flex;
  outline: none !important;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding-left: 8px;
  margin-left: 8px;
}

.countToStudyGoal {
  width: 191px;
  position: relative;
  top: 20px;
  font-size: 13px;
  left: 14px;
}

.backgroundModal { /*background styling that is shown when threedotscontainer in stats is clicked*/

  background-color: rgba(0, 0, 0, 0.3);
  padding: 163px;
  top: -12px;
  height: 730px !important;
  max-width: 440px !important;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.widthFitContent{
  width:fit-content !important;
}

#createDeck .modal-body {
  padding: 10px;
}


#questionAnswerOverview .modal-body {
  padding: 10px; 
   background-color: blue !important;
}



#createDeck .modal-title {
  height: 30px;
  background-color: rgba(200, 168, 115) !important;
  font-size: 16px;
  font-weight: bold; 
  background-color: transparent !important;
  padding-left: 23px;
  width: 175px;
}

.pieDiagramContainer {
  width: 80px; 
  right: 37px; 
  top:-76px;
  position:absolute;
}

#createDeck .modal-content {
  width: 247px;
  height: 160px;
  background-color: rgba(200, 168, 115) !important; 
  align-items: center;
  margin: auto;
  margin-bottom: 470px;
  top: 32px;
}

.selectStyling {
  width: 79%;
  height: 24px;
  border-radius: 5px;
  padding-left: 3px;
  outline: none;
  cursor: pointer;
}

.cancelOkContainer {
  width: 57%; 
  top: -13px; 
  position: relative;
}

.bar {
  background: red !important;
}


.stylesNewDeck {  

  background-color: rgba(200, 168, 115, 0.95) !important; 
  position: absolute !important;
  left: 36% !important;
  width: 507px !important;
  top: 20% !important;
  height: 100% !important;
}

.modal-footer {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: flex-end;
padding: .75rem;
/* border-top: 1px solid #dee2e6; */
border-bottom-right-radius: calc(.3rem - 1px);
border-bottom-left-radius: calc(.3rem - 1px);
}

.threeDotsBtnIndex {
    position: absolute ;
    top: -5px;
    left: 10px;
    z-index: 2000;
    background-color: white; 
    border: 1px solid black;
    overflow: hidden;
}

.spinner {
  margin: auto;
}

.save:hover {
  background:#2D6A4F;
}


.deckEmptyContainer {
  padding: 5px;
  width: 152px; 
  position: absolute; 
  top: 45px;
  left: 75px !important;
  height: 111px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  flex-direction: column
}


.deckPausedContainer {
  padding: 5px;
  width: 152px; 
  position: absolute; 
  top: 45px;
  left: 75px !important;
  height: 111px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  flex-direction: column
}

.addToDeckInput { /*the styling of the input field that appears when deckname edit is clicked*/
  width: 129px; 
  border-radius: 5px;
  padding-left: 5px; 
  position: relative;
  left: 10px; 
  top: -23px;
  height: 26px;
  outline: none;
  z-index: 2;
}

.threeDotsInQuestionAnswerStyling {
  position: absolute; 
  top: 14px;
  right: 19px;
  height: 98px; 
  z-index: 2000; 
  background-color: white;
  border: 1px solid black;
  overflow: hidden;
}

.createNewDeckInputField {
  width: 78%;
  margin-top: 3px;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 14px;
  height: 22px;
  outline: none;
  padding-left: 5px;
}


.plusInfoMessage {
  height: 24px; 
  width: 24px; 
  margin-left: 9px;
  border: 1px solid black;
  border-radius: 50%; 
  display: inline-block;
}

textarea.form-control:active, textarea.form-control:focus {
  outline: none !important;
}

.formControlIn  {
  width: 93% !important;
  height: 93px !important;
  position: relative;
  left: 10px;
  outline: none !important;
}



.plusInfoMessage:hover {
  cursor: pointer;
}

.scrollerStyling {
  height: 174px; 
  width: 20px; 
  overflow: scroll; 
  overflow-x: hidden; 
  position: absolute; 
  top: 78px;
  right: 11px;
  cursor: pointer;
}

.containerStyling {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  height: 651px !important;
  width: 440px !important; 
}

.alert {
  margin-bottom: 0px !important;
  padding: 5px !important;
}

.monthContainerBox {
  display: flex;
  justify-content: space-evenly; 
  width: 270px;
  height: 38px; 
  border-radius: 5px;  
  border: 1px solid black;
  padding: 1px 5px; 
  margin-top: 8px; 
  margin-bottom: 20px;
}

.deckOrCardNameStyling {
  width: 159px; 
  height: 73px; 
  position: relative !important;
  display: flex !important;
  justify-content: center !important; 
  left: 6px;
}

.addToDeckButton {
  width: 110px;
  margin-top: 20px;
  padding: 5px; 
  box-sizing: border-box; 
  margin-left: 21px;
}

.hexagons {
  width: 16px;
  height: 21px;
  position: relative;
  margin: 3px; 
  padding: 3px; 
  transform: rotate(90deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hexagonContainer {
  
  border-radius: 5px; 
  position: relative; 
  padding-left: 8px; 
  margin: auto;
  padding-right: 14px; 
  padding-bottom: 3px; 
  width: 211px; 
  height: 66px;
  }

  .goalSettingsContainer {
    font-weight: bold; 
    font-size: 17px; 
    margin-top: 25px;
    text-align: center; 
    margin-bottom: 7px;
  }

  .repetitionIntervalTextFields {
    width: 72px;
    height: 27px;
    padding-left: 7px; 
    background-color: grey;
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
  }

@-webkit-keyframes arrow {
  0%,
  100% {
    top: 50px;
  }
  50% {
    top: 80px;
  }
}
@keyframes arrow {
  0%,
  100% {
    top: 50px;
  }
  50% {
    top: 80px;
  }
}

  textarea:focus {
    border: 3px solid grey;
    box-shadow: 0px 0px 15px grey;
    outline: none !important;
  }
  textarea:enabled {
    border: 3px solid grey;
    outline: none !important;
  }

  .createDeckButtonStyling {  /*background color of create deck button*/
    z-index: 4; 
    padding: 2px; 
    position: absolute;
    top: 630px; 
    width: 217px; 
    height: 30px;
    outline: none !important;
    background-color: #545863 !important;
    color: white !important;
    border-radius: 5px !important;
    border: none !important;
  }


  .okCancelButtonStyling {
    cursor: pointer;
    width: 65px;
    height: 28px;
    border-radius: 5px;
  }

  .okCancelButtonStyling:hover {
    background-color:#545863;
  }

  .innerRenderDays {
    margin-top: -10px;
  }

  .todayStudiedInfo {
    width: 133px !important;
    height: 86px;
    position: absolute;
    top: 20px;
  }

  .reviewTextContainer {
    position: absolute;
    top: 56px;
  }

  .statsHeader {
    font-size: 22px;
    font-weight: bold;
  }



  .hoveredDeckOrCardName {
    position: relative;
    width: 146px; 
    height: 33px;
    
  }

  .resetButtonStyling {
    position: absolute;
    top: 17px;
    right: 26px;
    z-index: 2000;
    background-color: white;
    border: 1px solid black;
    overflow: hidden;
  }

  .loginContainer {
    width: 440px; 
    height: 720px;
    background-color: rgb(90, 170, 149);
    border-radius: 10px; 
    margin: 40px auto;
  }

  .flashcardBackground{
    position: relative;
    width: 161%;
  }

  .googleContainer {
    position: absolute; 
    top: 600px; 
    width: 456px; 
    display: flex; 
    justify-content: center;
  }

  .studyBreakdownHeader {
    width: 179px; 
    text-align: center;
    margin: auto; 
    font-weight: bold; 
    font-size: 17px; 
    margin-bottom: 3px;
  }

  

  .flashCardsStyling {
  width: 26px; 
  height: fit-content;
  margin-right: 20px;
  }

  .deleteCardQuestionBox__question-mark {
    width: 40px; 
    position: absolute;
  }

  .questionMark1 {
    top: -47px; 
    right: -10px;

  }

  .questionMark2 {
    top: -65px; 
    right: -30px;

  }

  .studyGoalStyling {
    margin-left: 10px; 
    border: 1px solid black; 
    width: 81px; 
    padding-left: 3px; 
    height: 24px;
    border-radius: 2px;
  }

  .deckOrCardNameContainer {
    width: 127px;
    padding-left: 7px;
    border-radius: 5px;
    height: 30px;
    position: relative;
    top: -21px;
    left: 5px;
  }

  .firstRowStyling { /*the positioning of all the decks*/
    position: relative; 
    padding: 50px; 
    width: 400px;
    margin-left: 30px; 
    margin-top: 77px;
  }
  
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
  -webkit-appearance: auto;
  opacity: 1;
}


.onoffswitch {
  width: 81px;
  -webkit-user-select:none; 
  -moz-user-select:none; 
  -ms-user-select: none;
  right: 338px;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block; 
  overflow: hidden; 
  width: 81px;
  height: 25px;
  border: 1px solid #1F1E1E; 
  border-radius: 14px;
  position: absolute;
  right: 110px;
}

.cursor {
  cursor: pointer;
}

.onoffswitch-inner {
  display: block; 
  width: 200%; 
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; 
  float: left; 
  width: 50%; 
  height: 23px; 
  padding: 0; 
  line-height: 23px;
  font-size: 14px; 
  color: white; 
  font-family: Trebuchet, Arial, sans-serif; 
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "Paused";
  padding-left: 7px;
  background-color: #FAF8F5; 
  color: #999999;
}

.onoffswitch-inner:after {
  content: "Paused";
  
  padding-right: 7px;
  padding-top: 1px;
  background-color: rgba(200, 168, 115); color: #FFFFFF;
  text-align: right;
  font-size: 12px;
}

.onoffswitch-switch {
  display: block; 
  width: 17px; 
  height: 17px;
  margin: 4px;
  font-size: 14px;
  text-align: center;
  background: #FFFFFF;
  position: absolute; 
  top: 0px; 
  bottom: 0px;
  right: 53px;
  border: 1px solid #1F1E1E; 
  border-radius: 14px;
  transition: all 0.3s ease-in 0s; 
}

.settings__repetition-interval {

  font-weight: bold; 
  font-size: 17px; 
  text-align: center; 
  margin-bottom: 8px;
}


.timeandprogress__monthly-goal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27px; 
  font-size: 13px;
}


.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}

#tsparticles{
width:100%;
height: 100%;
position: absolute;
}

.menuContainer__modalbody {
  position: relative; 
  top: 42px; 
  left: 10px;
}